<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="./css/Find_pw.css">
    <link rel="icon" href="./img/yak_small_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="jb-container2">
      <div id="jb-header2">
        <a href="./index"><img src="./img/yak_logo.png"alt="이미지 오류" width="300" height="120"></a>
        <h2>비밀번호 찾기</h2>
      </div>
      <div id="jb-content2">
        <input type="text" name="name_find1" id ="nf1" placeholder="이름" >
        <br>
        <input type="password" name="email_find1" id = "ef1" placeholder="이메일">
        <br>
        <input type="text" name="id_find" id ="ni" placeholder="아이디" >
        <br>
        <input type="submit" name="Find_Pbtn" id = "Find_Pbtn" value="찾기">
        <input type="submit" name="can_btn" id = "can_btn" value="취소">

      </div>
    </div>
  </body>
</html>