<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="./css/Find_id.css">
    <link rel="icon" href="./img/yak_small_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="jb-container1">
      <div id="jb-header1">
        <a href="./index"><img src="./img/yak_logo.png" alt="이미지 오류" width="300" height="120"></a>
        <h2>아이디 찾기</h2>
      </div>
      <form action="/Find_id" method='post'>
        <div id="jb-content1">
          <input type="text" name="nf" id ="nf" placeholder="이름" />
          <br>
          <input type="text" name="ef" id = "ef" placeholder="이메일" />
          <br>
          <input type="submit" name="Find_Ibtn" id = "Find_Ibtn" value="찾기">
          <input type="submit" name="Find_Ibtn" id = "Find_Ibtn" value="취소">
        </div>
      </form>
    </div>
  </body>
</html>