<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="./css/Find_pw.css">
    <link rel="icon" href="./img/yak_small_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="jb-container2">
      <div id="jb-header2">
        <a href="./index"><img src="./img/yak_logo.png"alt="이미지 오류" width="300" height="120"></a>
        <h2>비밀번호 찾기</h2>
      </div>
      <form action="/Find_pw" method='post'>
        <div id="jb-content2">
          <input type="text" name="ni" id ="ni" placeholder="아이디" >
          <br>
          <input type="text" name="nf1" id ="nf1" placeholder="이름" >
          <br>
          <input type="text" name="ef1" id = "ef1" placeholder="이메일">
          <br>
          <input type="submit" name="Find_Pbtn" id = "Find_Pbtn"  onclick="check();"value="찾기">
          <input type="submit" name="can_btn" id = "can_btn" value="취소">
        </div>
      </form>
    </div>
  </body>
  <script>
    function check(){
        if(document.getElementById("ni").value=="" || document.getElementById("nf1").value=="" || document.getElementById("ef1").value==""){
            alert("빈칸을 채워주십시오");
            return;
        }
        frm.submit(); //직접 submit()이라는 메소드를 호출. 액션을 들고 가줌
    }
  </script>
</html>