    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <p class="footer-text m-0">
                            동의대학교 캡스톤디자인 완두콩조 | 약약 커뮤니티</p>
                        <p class="footer-text m-0" style="color:#092742;">Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        <a style="color:#092742;">All rights reserved | This template is made with by </a>
                        <a href="https://colorlib.com" target="_blank" style="font-size:0.0001em; color:#092742;">Colorlib</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->
    <!-- jquery plugins here-->
    <script src="./js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="./js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="./js/bootstrap.min.js"></script>
    <!-- magnific js -->
    <script src="./js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="./js/owl.carousel.min.js"></script>
    <!-- masonry js -->
    <script src="./js/masonry.pkgd.js"></script>
    <!-- masonry js -->
    <script src="./js/jquery.nice-select.min.js"></script>
    <script src="./js/gijgo.min.js"></script>
    <!-- contact js -->
    <script src="./js/jquery.ajaxchimp.min.js"></script>
    <script src="./js/jquery.form.js"></script>
    <script src="./js/jquery.validate.min.js"></script>
    <script src="./js/mail-script.js"></script>
    <script src="./js/contact.js"></script>
    <!-- custom js -->
    <script src="./js/custom.js"></script>
    <script src="./js/slideshow.js"></script>