<!-- 회원 탈퇴 -->

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="./css/naga.css">
    <link rel="icon" href="./img/yak_small_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript"></script>
  </head>
  <body>
    <div id="jb-container4">
      <div id="jb-header4">
        <a href="./index"><img src="./img/yak_logo.png"alt="이미지 오류" onclick="location.href='/index' " width="300" height="120"></a>
        <h2>회원 탈퇴</h2>
      </div>
      <div id="jb-content4">
        <p>저희 YAKYAK 커뮤니티를 이용해주셔서 감사합니다.</p> <br>
        <p>탈퇴하시면 복구가 불가하오니 신중하게 선택해주시길 바랍니다.</p> <br><br>
        <input type='checkbox' name='okay' value='female'/>안내사항을 확인하였으며 이에 동의합니다.<br><br><br>  
        <input type="submit" name="ok" id = "ok" onclick="location.href='/naga2' " value="확인">
        <input type="submit" name="cancel" id = "cancel" onclick="location.href='/profile' "value="취소">       
      </div>
    </div>
  </body>
</html>
<script>
 /* $(function()
{
  if(okay.checked==true)
  { 
    return true; }
    else
  { 
    alert("약관에 동의해주시기 바랍니다."); 
  return false; 
  //if end 
}//send end
}); */
</script>